src/main/resources/wsdl/product.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsdLocal1="http://www.siebel.com/xml/ATC%20Product%20Administration%20IO"
  targetNamespace="http://siebel.com/CustomUI"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://siebel.com/CustomUI">
  <types>
    <xsd:schema
      elementFormDefault="qualified"
      attributeFormDefault="unqualified"
      targetNamespace="http://siebel.com/CustomUI"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
        namespace="http://www.siebel.com/xml/ATC%20Product%20Administration%20IO"></xsd:import>
      <xsd:element
        name="run_1_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="SearchSpec"
              type="xsd:string"></xsd:element>
            <xsd:element
              name="PageSize"
              type="xsd:string"></xsd:element>
            <xsd:element
              name="SortSpec"
              type="xsd:string"></xsd:element>
            <xsd:element
              name="StartRowNum"
              type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="run_1_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="LastPage"
              type="xsd:string"></xsd:element>
            <xsd:element
              ref="xsdLocal1:ListOfAtcProductAdministrationIo"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema
      elementFormDefault="qualified"
      attributeFormDefault="unqualified"
      xmlns:xsdLocal1="http://www.siebel.com/xml/ATC%20Product%20Administration%20IO"
      targetNamespace="http://www.siebel.com/xml/ATC%20Product%20Administration%20IO"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element
        name="ListOfAtcProductAdministrationIo"
        type="xsdLocal1:ListOfAtcProductAdministrationIo"></xsd:element>
      <xsd:complexType
        name="ListOfAtcProductAdministrationIoTopElmt">
        <xsd:sequence>
          <xsd:element
            name="ListOfAtcProductAdministrationIo"
            maxOccurs="1"
            minOccurs="1"
            type="xsdLocal1:ListOfAtcProductAdministrationIo"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAtcProductAdministrationIo">
        <xsd:sequence>
          <xsd:element
            name="AtcProduct"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:AtcProduct"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="AtcProduct">
        <xsd:sequence>
          <xsd:element
            name="ARTProductCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Id"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Created"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Updated"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="UpdatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConflictId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ModId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AcceptExpireDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AcceptExpireDateUnit"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AuthorizationExpireDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BusinessOwner"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConvertationCorrectionCodeBIS"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Currency"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DiscountFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="EditFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="FullName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="GuarantorNumMax"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="GuarantorNumMin"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="NotDSAFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmation"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CategoryGroupGeneral2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IndividualEntrepreneur"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ATCPreapproveProduct"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CategoryGroup2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="LifeInsurance"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="LoanTypeBIS"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Macroproduct"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAmount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxTerm"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinAmount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinMonthPayment"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinTerm"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="NonstandartFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OfferExpireDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OfferExpireDateUnit"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="POCCheck"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ParentProductId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ParentProductName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeNumMax"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeNumMin"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PreapproveFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PrimaryCurrencyProductLOVId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProdCodeRO"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RMReviewDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Rate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Revision"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RiskGroup"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RiskGroupBIS"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RiskSegment"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ShortName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Status"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Type"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Version"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DefaultCurrency"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxDeviateAmount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="InstantCardIssueFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="FixedPaymentDateFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RBValidityPeriod"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ReducedPaymentFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ListOfAtcProductChecklist"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfAtcProductChecklist"></xsd:element>
          <xsd:element
            name="ListOfAtcProductInsuranceTypes"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfAtcProductInsuranceTypes"></xsd:element>
          <xsd:element
            name="ListOfAtcProductMatrixItem"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfAtcProductMatrixItem"></xsd:element>
          <xsd:element
            name="ListOfAtcProductVehicleRequirements"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfAtcProductVehicleRequirements"></xsd:element>
          <xsd:element
            name="ListOfATCProduct_AvailableCurrency"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProduct_AvailableCurrency"></xsd:element>
          <xsd:element
            name="ListOfATCProduct_IncomeConfirmType"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProduct_IncomeConfirmType"></xsd:element>
          <xsd:element
            name="ListOfATCProduct_PledgeType"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProduct_PledgeType"></xsd:element>
          <xsd:element
            name="ListOfATCProduct_AdditionalProduct"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProduct_AdditionalProduct"></xsd:element>
          <xsd:element
            name="ListOfATCProductCollateral"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProductCollateral"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAtcProductChecklist">
        <xsd:sequence>
          <xsd:element
            name="AtcProductChecklist"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:AtcProductChecklist"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="AtcProductChecklist">
        <xsd:sequence>
          <xsd:element
            name="Id"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Created"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Updated"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="UpdatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConflictId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ModId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CheckCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CheckInfo"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Type2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OperativeCenterFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAtcProductInsuranceTypes">
        <xsd:sequence>
          <xsd:element
            name="AtcProductInsuranceTypes"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:AtcProductInsuranceTypes"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="AtcProductInsuranceTypes">
        <xsd:sequence>
          <xsd:element
            name="Id"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Created"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Updated"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="UpdatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConflictId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ModId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CanIncludeInLoan"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DefaultFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DefaultOrgId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DefaultOrgName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="InsuranceRequired"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="InsuranceType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OrderNum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProdId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PrimaryProductInsuranceId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ListOfATCProductInsuranceTypes_ATCProductInsurance"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProductInsuranceTypes_ATCProductInsurance"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAtcProductMatrixItem">
        <xsd:sequence>
          <xsd:element
            name="AtcProductMatrixItem"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:AtcProductMatrixItem"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="AtcProductMatrixItem">
        <xsd:sequence>
          <xsd:element
            name="TargetOpenSystem"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MovePaymentDateFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DigitalProfileConsent"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SpecialRateDiscount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BankRate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ARTProductCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ElectronicCheck"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CardIssueCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinMounthPayment"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinCardServiceCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxCardServiceCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="LimitOperationSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreditTermPSK"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CashCreditRate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxDeviateAmount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="InstantCardCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PreDisbursementCheckFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PreOfferCheck"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PFGroupId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PaymentScheme"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProofOfIncome"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PFGroupName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AttractionCloseChannel"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RBSubsequentPledgeFlag"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Id"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Created"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Updated"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="UpdatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConflictId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ModId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AddJobDocRequired"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalIDRequired"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BISCardProductCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BISLoanCategory"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BankDivnJobAddress"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BankDivnResidency"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BisClientCategory"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BusinessUnits"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CardCategory"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CardType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CashCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CashCommissionOverdraft"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConfirmMarriageReq"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Currency2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="DismissTariffNamePf"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="EmployerCategory"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ErrorCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ErrorText"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="FstYrCardCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="FstYrCardCommissionPF"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="HasCollateralFlg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmDocumentType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="InsuranceType2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="JobRequired"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="LBSOpenCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="LBSServiceMonthlyCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MacroProdCodes"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MarketingProductCodes"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MarketingSegment1"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MarketingSegment2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MarketingSegment3"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MarketingSegment4"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MatrixId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MatrixType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForMen"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForMenApplication"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForMenPaid"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForWomen"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForWomenApplication"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAgeForWomenPaid"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxDepositSumRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxLoanSumRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxPSKPerc"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxTermMonths"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxTermRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinAgeForMen"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinAgeForWomen"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinCollateralSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinDepositSumRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinLoanSumRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinMonthlyPaymentForMainDebt"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinMthsAtJobNoreg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinMthsAtJobReg"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinPercentRate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinTermMonths"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinTermRestriction"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinTotalIncome"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MnthAccComission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="NotForIp"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OnetimeCardCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OthbankMoneyComission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ParticipantTypes"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PenaltiesForNoCascoPf"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PenaltiesForPaymDelayPf"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Priority"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductCode2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductEndDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductMacroproduct"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductStartDate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductStatus"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RatePercent"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RfResidentRequired"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RiskSegment2"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SPKOpenCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SPKServiceMonthlyCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SalaryClient"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SecondYrCardCommission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SecondYrCardCommissionPF"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="SpecCondRate"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="TariffCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="TariffNamePf"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="TariffVersionPF"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ThirdYrCard"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ThirdYrCardCommissionPF"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MatrixProductRO"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductShortName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductVersion"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RiskSegmentRO"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ATC_BORROWER_TYPE"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OnetimeCardComission"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="BinRange"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CardTariffCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAddSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxRefinSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinAddSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinRefinSum"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="RefSumLoanRatio"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="GracePeriodMonth"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CategoryGroupGeneral"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ATCScheduleType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CategoryGroup"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ListOfATCProductMatrixItem_Organization"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProductMatrixItem_Organization"></xsd:element>
          <xsd:element
            name="ListOfATCProductMatrixItem_InsuranceProducts"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProductMatrixItem_InsuranceProducts"></xsd:element>
          <xsd:element
            name="ListOfATCProductMatrixItem_AdditionalServices"
            maxOccurs="1"
            minOccurs="0"
            type="xsdLocal1:ListOfATCProductMatrixItem_AdditionalServices"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAtcProductVehicleRequirements">
        <xsd:sequence>
          <xsd:element
            name="AtcProductVehicleRequirements"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:AtcProductVehicleRequirements"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="AtcProductVehicleRequirements">
        <xsd:sequence>
          <xsd:element
            name="Id"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Created"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="CreatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Updated"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="UpdatedBy"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ConflictId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ModId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Category"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Country"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="KmTravelled"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxAge"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxWeight"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductId"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProduct_AvailableCurrency">
        <xsd:sequence>
          <xsd:element
            name="ATCProduct_AvailableCurrency"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProduct_AvailableCurrency"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProduct_AvailableCurrency">
        <xsd:sequence>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AvailableCurrency"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="IsPrimaryMVG"
          type="xsd:string"></xsd:attribute>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProduct_IncomeConfirmType">
        <xsd:sequence>
          <xsd:element
            name="ATCProduct_IncomeConfirmType"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProduct_IncomeConfirmType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProduct_IncomeConfirmType">
        <xsd:sequence>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmTypeLIC"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmTypeLOVType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmTypeActive"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmTypeParentLIC"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="IncomeConfirmTypeValue"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="IsPrimaryMVG"
          type="xsd:string"></xsd:attribute>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProduct_PledgeType">
        <xsd:sequence>
          <xsd:element
            name="ATCProduct_PledgeType"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProduct_PledgeType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProduct_PledgeType">
        <xsd:sequence>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeTypeLIC"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeTypeLOVType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PledgeTypeValue"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="IsPrimaryMVG"
          type="xsd:string"></xsd:attribute>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProduct_AdditionalProduct">
        <xsd:sequence>
          <xsd:element
            name="ATCProduct_AdditionalProduct"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProduct_AdditionalProduct"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProduct_AdditionalProduct">
        <xsd:sequence>
          <xsd:element
            name="AdditionalProduct"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalProductCode"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalProductStatus"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalProductType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalProductStartDateActiveCalc"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="AdditionalProductEndDateActiveCalc"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProductCollateral">
        <xsd:sequence>
          <xsd:element
            name="ATCProductCollateral"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProductCollateral"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProductCollateral">
        <xsd:sequence>
          <xsd:element
            name="LTV"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MaxCount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="MinCount"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="PropertyType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Type"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProductInsuranceTypes_ATCProductInsurance">
        <xsd:sequence>
          <xsd:element
            name="ATCProductInsuranceTypes_ATCProductInsurance"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProductInsuranceTypes_ATCProductInsurance"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProductInsuranceTypes_ATCProductInsurance">
        <xsd:sequence>
          <xsd:element
            name="ProductInsuranceName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="ProductInsuranceStatus"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProductMatrixItem_Organization">
        <xsd:sequence>
          <xsd:element
            name="ATCProductMatrixItem_Organization"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProductMatrixItem_Organization"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProductMatrixItem_Organization">
        <xsd:sequence>
          <xsd:element
            name="Searchspec"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="Organization"
            maxOccurs="1"
            minOccurs="1"
            type="xsd:string"></xsd:element>
          <xsd:element
            name="OrganizationBUName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute
          name="IsPrimaryMVG"
          type="xsd:string"></xsd:attribute>
        <xsd:attribute
          name="Operation"
          type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProductMatrixItem_InsuranceProducts">
        <xsd:sequence>
          <xsd:element
            name="ATCProductMatrixItem_InsuranceProducts"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProductMatrixItem_InsuranceProducts"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProductMatrixItem_InsuranceProducts">
        <xsd:sequence>
          <xsd:element
            name="InsuranceProducts"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfATCProductMatrixItem_AdditionalServices">
        <xsd:sequence>
          <xsd:element
            name="ATCProductMatrixItem_AdditionalServices"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ATCProductMatrixItem_AdditionalServices"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ATCProductMatrixItem_AdditionalServices">
        <xsd:sequence>
          <xsd:element
            name="AdditionalServices"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message
    name="run_1_Input">
    <part
      name="run_1_Input"
      element="tns:run_1_Input"></part>
  </message>
  <message
    name="run_1_Output">
    <part
      name="run_1_Output"
      element="tns:run_1_Output"></part>
  </message>
  <portType
    name="ATC_spcProduct_spcExport_spcIO_spcWF">
    <operation
      name="run_1">
      <input
        message="tns:run_1_Input"></input>
      <output
        message="tns:run_1_Output"></output>
    </operation>
  </portType>
  <binding
    name="ATC_spcProduct_spcExport_spcIO_spcWF"
    type="tns:ATC_spcProduct_spcExport_spcIO_spcWF">
    <soap:binding
      transport="http://schemas.xmlsoap.org/soap/http"
      style="document"></soap:binding>
    <operation
      name="run_1">
      <soap:operation
        soapAction="document/http://siebel.com/CustomUI:run_1"></soap:operation>
      <input>
        <soap:body
          use="literal"></soap:body>
      </input>
      <output>
        <soap:body
          use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service
    name="ATC_spcProduct_spcExport_spcIO_spcWF">
    <port
      binding="tns:ATC_spcProduct_spcExport_spcIO_spcWF"
      name="ATC_spcProduct_spcExport_spcIO_spcWF">
      <soap:address
        location="https://rsbwstm0si1.trosbank.trus.tsocgen:8443/eai_anon_rus/start.swe?SWEExtSource=AnonWebService&amp;SWEExtCmd=Execute"></soap:address>
    </port>
  </service>
</definitions>